
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="stylesheets/style.css">
      <title>Resenhas de Livros</title>

  </head>
  <body>
    <header>
          <div class="read-bar">
      <img src="/images/icon.png" alt="Ícone de Óculos">
      <h1 class="site-name">Entrelinhas</h1>
            <li><a href="cadastro">Cadastro</a></li>
  </div>
      <nav class="navbar">
          <ul>
          <li><a href="/">Recomendado</a></li>
              <li><a href="romance">Romance</a></li>
              <li><a href="drama">Drama</a></li>
              <li><a href="autoajuda">Auto-Ajuda</a></li>
              <li><a href="terror">Terror</a></li>
              <li><a href="fantasia">Fantasia</a></li>
          </ul>
      </nav>
  </header>