<%- include('./partials/header')%>
<div class="book-list">
    <div class="book">
        <img src="" alt="Livro 1">
        <h2>O Poder do Hábito</h2>
        <button class="view-button" data-book="2">Ver Descrição</button>
    </div>

    <div class="book">
        <img src="pairico.jpg" alt="Livro 2">
        <h2>Pai Rico, Pai Pobre</h2>
        <i class="favorite-icon fas fa-heart" onclick="toggleFavorite(1)"></i>
        <button class="view-button" data-book="2">Ver Descrição</button>
    </div>
    <div class="book">
        <img src="habitos.jpg" alt="Livro 3">
        <h2>Os 7 Hábitos das Pessoas Altamente Eficazes</h2>
        <button class="view-button" data-book="3">Ver Descrição</button>
    </div>
    <div class="book">
        <img src="poder.jpg" alt="Livro 4">
        <h2>O Poder da Ação</h2>
        <button class="view-button" data-book="4">Ver Descrição</button>
    </div>
    <div class="book">
        <img src="milagre.png" alt="Livro 5">
        <h2>O Milagre da Manhã</h2>
        <button class="view-button" data-book="5">Ver Descrição</button>
    </div>
  <div class="book">
        <img src="agora.jpg" alt="Livro 6">
        <h2>O Poder do Agora</h2>
        <button class="view-button" data-book="6">Ver Descrição</button>
    </div>
  <div class="book">
        <img src="https://books.google.com.br/books/publisher/content?id=vHhTDwAAQBAJ&hl=pt-BR&pg=PP1&img=1&zoom=3&bul=1&sig=ACfU3U0Tj_NL81UTMvpZaRP5twDmi1AeSw&w=1280" alt="Livro 7">
        <h2>Você é Insubstituível</h2>
        <button class="view-button" data-book="7">Ver Descrição</button>
    </div>
  <div class="book">
        <img src="https://m.media-amazon.com/images/I/71bbpGX9PVL._AC_UF1000,1000_QL80_.jpg" alt="Livro 8">
        <h2>Como Fazer Amigos e Influenciar Pessoas</h2>
        <button class="view-button" data-book="8">Ver Descrição</button>
    </div>
  <div class="book">
        <img src="https://m.media-amazon.com/images/I/81XLIBsUbFL._AC_UF1000,1000_QL80_.jpg" alt="Livro 9">
        <h2>A Arte da Felicidade</h2>
        <button class="view-button" data-book="8">Ver Descrição</button>
    </div>
</div>
<%- include('./partials/footer') %>