<%- include('./partials/header')%>
    <div class="book-list">
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/516VOgxwg2L.jpg" alt="Livro 1">
            <h2>A garota do Lago</h2>
            <button class="view-button" data-book="1">Ver Descrição</button>
        </div>

        <div class="book">
            <img src="https://m.media-amazon.com/images/I/61Tb8-C-JJL.jpg" alt="Livro 2">
            <h2>Antes que as luzes se apaguem</h2>
            <button class="view-button" data-book="2">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/41oMkonRbTL.jpg" alt="Livro 3">
            <h2>Hamlet</h2>
            <button class="view-button" data-book="3">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/51kvA2g-IvL.jpg" alt="Livro 4">
            <h2>O impulso</h2>
            <button class="view-button" data-book="4">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://cdn.kobo.com/book-images/1b792622-ea5d-4051-8467-57ad3a5092e3/1200/1200/False/um-lugar-bem-longe-daqui.jpg" alt="Livro 5">
            <h2>Um lugar bem longe daqui</h2>
            <button class="view-button" data-book="5">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/81p79w-ownL._SY466_.jpg" alt="Livro 6">
            <h2>Para sempre Alice</h2>
            <button class="view-button" data-book="6">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/5159vbpDM-L.jpg" alt="Livro 7">
            <h2>A biblioteca da meia noite</h2>
            <button class="view-button" data-book="7">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/81a9krs52mL._AC_UF1000,1000_QL80_.jpg" alt="Livro 8">
            <h2>Relatos de um gato viajante</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/41J3FApF8yL.jpg" alt="Livro 9">
            <h2>A paciente silenciosa</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/919g-oJ1tZL._AC_UF1000,1000_QL80_.jpg" alt="Livro 9">
            <h2>Precisamos falar sobre kevin</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>
       <div class="book">
            <img src="https://m.media-amazon.com/images/I/41aBrTsfUbL.jpg" alt="Livro 9">
            <h2>O colecionador</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/81cfKl-VLdL._AC_UF1000,1000_QL80_.jpg" alt="Livro 9">
            <h2>A Casa dos Espíritos</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>
    </div>
  <%- include('./partials/footer') %>
