<%- include('./partials/header.ejs')%>

    <div class="book-list">
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/8147kKLLvOL._SY385_.jpg" alt="Livro 1">
            <h2>O Iluminado</h2>
            <button class="view-button" data-book="1">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/51lRMYwP-4L.jpg" alt="Livro 2">
            <h2>Harry Potter 1</h2>
            <button class="view-button" data-book="2">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/71NsVQ5MlwL._AC_UF1000,1000_QL80_.jpg" alt="Livro 3">
            <h2>Harry Potter 2</h2>
            <button class="view-button" data-book="3">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/515TcMeZStL.jpg" alt="Livro 4">
            <h2>Harry Potter 3</h2>
            <button class="view-button" data-book="4">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/515TcMeZStL.jpg" alt="Livro 5">
            <h2>Harry Potter 4</h2>
            <button class="view-button" data-book="5">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://3.bp.blogspot.com/-gqiZH0GajmA/UhpXzJwfYzI/AAAAAAAALfE/vH9KUz6q9yw/s1600/novacapa_especial15anos-HP4.jpg" alt="Livro 6">
            <h2>Harry Potter 5</h2>
            <button class="view-button" data-book="6">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://cdn.kobo.com/book-images/0ba871fa-be52-49c6-ad32-189c2ef4520f/1200/1200/False/harry-potter-e-o-enigma-do-principe-1.jpg" alt="Livro 7">
            <h2>Harry Potter 6</h2>
            <button class="view-button" data-book="7">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/51-lxNye+pL.jpg" alt="Livro 8">
            <h2>Harry Potter 7</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/618fXbK+OkL._AC_UF1000,1000_QL80_.jpg" alt="Livro 9">
            <h2>Crespúsculo</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>

    </div></div>
 <%- include('./partials/footer') %>

