<%- include('./partials/header')%>
     <div class="container1">
        <div class="image.l1">
            <img src="https://m.media-amazon.com/images/I/8147kKLLvOL._SY385_.jpg" alt="Imagem Vertical">
        </div>
        <div class="text">
            <h1>O Iluminado</h1>
            <p>"O Iluminado" é um icônico romance de terror escrito pelo renomado autor Stephen King. Publicado pela primeira vez em 1977, o livro rapidamente se tornou uma obra-prima do gênero de horror psicológico e é considerado uma das obras mais influentes de King.

A história gira em torno de Jack Torrance, um escritor em busca de uma nova oportunidade de emprego, que aceita o posto de zelador no Hotel Overlook durante o inverno. O hotel fica isolado do mundo exterior devido à neve pesada e é famoso por sua história sombria e eventos inexplicáveis que ocorreram lá. Jack se muda com sua esposa, Wendy, e seu filho de cinco anos, Danny, que possui habilidades psíquicas especiais conhecidas como "brilho."

Conforme o inverno avança e o hotel fica cada vez mais isolado, eventos estranhos e perturbadores começam a acontecer. Os fantasmas do passado do hotel parecem se manifestar, e Jack começa a perder sua sanidade, influenciado pela maligna presença do Overlook. Enquanto isso, Danny, com seu dom do "brilho," percebe os horrores crescentes que assolam o hotel.

"O Iluminado" é uma história de terror psicológico que explora temas de isolamento, insanidade, alcoolismo e o poder do mal. A narrativa magistral de Stephen King mantém os leitores à beira de seus assentos, enquanto eles testemunham o declínio angustiante de Jack Torrance e a luta de sua família para sobreviver aos terrores do Hotel Overlook.

O livro também foi adaptado para o cinema em 1980 por Stanley Kubrick, tornando-se um clássico do cinema de terror. A obra continua a assombrar e cativar leitores, garantindo seu lugar como um dos melhores e mais assustadores romances de terror já escritos.</p>
        </div>
    </div>
<%- include('./partials/footer') %>