<%- include('./partials/header')%>
    <div class="book-list">
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/8147kKLLvOL._SY385_.jpg" alt="Livro 1">
            <h2>O Iluminado</h2>
            <button class="view-button" data-book="1">Ver Descrição</button>
        </div>

        <div class="book">
            <img src="https://m.media-amazon.com/images/I/51120jk-21L.jpg" alt="Livro 2">
            <h2>Psicose</h2>
            <button class="view-button" data-book="2">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/51nc43XKzfL._AC_UF1000,1000_QL80_.jpg" alt="Livro 3">
            <h2>O Exorcista</h2>
            <button class="view-button" data-book="3">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/8151ymQnnuL._AC_UF1000,1000_QL80_.jpg" alt="Livro 4">
            <h2>Cemitério Maldito</h2>
            <button class="view-button" data-book="4">Ver Descrição</button>
        </div>
        <div class="book">
            <img src="https://m.media-amazon.com/images/I/51iUTsAbgbL._AC_UF1000,1000_QL80_.jpg" alt="Livro 5">
            <h2>O Silêncio dos Inocentes</h2>
            <button class="view-button" data-book="5">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/61JwiYeoFtL._AC_UF1000,1000_QL80_.jpg" alt="Livro 6">
            <h2>Horror em Amityville</h2>
            <button class="view-button" data-book="6">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/51dzWlcmo0L._AC_UF1000,1000_QL80_.jpg" alt="Livro 7">
            <h2>A Hora do Vampiro</h2>
            <button class="view-button" data-book="7">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://m.media-amazon.com/images/I/51z0s3GcvwL.jpg" alt="Livro 8">
            <h2>It: A coisa</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>
      <div class="book">
            <img src="https://d1b6q258gtjyuy.cloudfront.net/Custom/Content/Products/12/47/1247_https-www-escala-com-br-o-chamado-de-cthulhu-h-p-lovecraft_l1_638017075990865540.png" alt="Livro 9">
            <h2>O Chamado de Cthulhu</h2>
            <button class="view-button" data-book="8">Ver Descrição</button>
        </div>
    </div>

<%- include('./partials/footer') %>